<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>avatar</key>
<string></string> 
<key>link</key>
<string>https://vt.tiktok.com/ZSRrHgS8a/</string>
<key>desc</key>
<string>Are you over 18 years old？</string>
<key>title</key>
<string>hello,my love!</string>
 <key>text</key>
<string>hi</string>
</dict>
</array>
</plist>